.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.input{
  height:25px;
}

.div{
  padding: 20px;
}

.button{
height:50px;

}

.user{
background-color: burlywood;
height:130px;
align-content: space-between;

}


.giphys{
  background-color: ;
  /* display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  align-content: center;
  align-items: space-around; */
}

img{
  padding: 5px;
  border-radius:25px;
  
  border:5px solid #555
}